<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./src/main.js" defer></script>
    <title>Amazone_23</title>
  </head>
  <body>
    <!-- 先用id確認Vue掛載範圍 -->
    <div id="app">
      <!-- 使用bootstrap的grid來架構出商品列表 -->
      <!-- 先寫好雛型 等下再移到各個.vue檔案 -->
      <div class="container-fluid mx-6 py-5 text-align">
        <!-- 這邊想要三件商品分為一組(同一列) 所以這個部分有幾列就會執行幾次-->
        <div class="row" v-for="(chunk, index) in chunkedItems" :key="index">
          <!-- 因為每列有3件物品 所以每件站12/3=4欄 -->
          <div class="col-4 mb-2" v-for="item in chunk" :key="item.name">
            <!-- 每件物品的section內容 -->
            <!-- 使用bootstrap提供的card->horizontal -->
            <div class="card mb-3 p-3 rounded-4 w-100" style="height: calc( 100% - 32px)">
              <div class="row g-0">
                <!-- 左側圖片 -->
                <div class="col-md-4">
                  <img src="./src/assets/71dpms8gexL._AC_UY218_.jpg" class="img-fluid rounded-start" alt="..." />
                </div>
                <!-- 右側說明欄 -->
                <div class="col-md-8">
                  <div class="card-body">
                    <a class="card-title">{{ item.name }}</a>
                    <p class="card-text">⭐{{ item.star }}</p>
                    <p class="card-text">${{ item.price }}</p>
                    <p>{{ item.discountPrice }}</p>
                    <p>{{ item.deliveryDate }}</p>
                    <a href="#">{{ item.moreInfo }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
